$breakpoint-tablet: 800px;
$primary-color: #000;
$secondary-color: #fff;
$accent-color: rgb(95, 192, 95);

$nav-margin-y: 10px;
$nav-min-height: 50px;
$nav-height: ($nav-margin-y * 2) + $nav-min-height;
$margin: 20px;