*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body,
button {
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  color: #999;
}

.text--secondary-color {
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 50px;
  margin: 20px 200px;
}

nav .navbar__container__logo {
  margin-top: 12px;
}

nav .navbar__container__logo .navbar__logo-icon {
  display: inline-block;
  background-color: #5fc05f;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 23px;
  height: 23px;
  border-radius: 100%;
}

nav .navbar__container__logo p {
  float: right;
  margin: 2px 0 0 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #666;
}

nav .navbar__container__logo .menu__toggle {
  display: none;
  margin-left: 20px;
  border: none;
  border-radius: 25px;
  background: #5fc05f;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav .navbar__container__logo .menu__toggle {
    display: block;
  }
}

@media (max-width: 800px) {
  nav .navbar__container__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .menu .menu__item {
  margin-right: 25px;
}

nav .menu a {
  color: #999;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    overflow: hidden;
    -webkit-transition: height 350ms ease-in, opacity 600ms ease-in;
    transition: height 350ms ease-in, opacity 600ms ease-in;
    height: 0px;
    opacity: 0;
  }
  nav .menu.menu--visible {
    overflow: visible;
    opacity: 1;
    height: 185px;
  }
  nav .menu.menu--visible .menu__item {
    padding: 10px 0;
  }
}

@media (max-width: 800px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: unset;
  }
}

header {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  text-align: center;
  padding: 70px 100px;
}

section#latest {
  padding: unset;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__container--reversed {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-flow: row-reverse wrap !important;
          flex-flow: row-reverse wrap !important;
}

.section__container .client__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0;
}

.section__container .client__comment--reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
}

@media (max-width: 800px) {
  .section__container .client__comment {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__container .client__comment .circle {
  height: 150px;
  width: 150px;
  background-color: #eee;
  border-radius: 100%;
}

.section__container .client__comment .quote {
  background-color: #eee;
  padding: 10px;
  margin: 30px;
  max-width: 500px;
}

.section__container .client__comment .quote .quote__text {
  color: #666;
}

.section__container .client__comment .quote .quote__author {
  color: #5fc05f;
  font-size: 0.9em;
}

.container__infographics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 100px;
}

@media (max-width: 800px) {
  .container__infographics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: none;
  }
  .container__infographics .credit-logo {
    padding: 10px 0;
  }
}

.container__infographics--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 20px 0;
  padding: 0;
}

.container__infographics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

@media (max-width: 800px) {
  .container__infographics__item {
    width: 100%;
  }
}

.container__infographics__item--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.container__infographics .icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.container__infographics .icon--circle-border {
  border: 3px solid #666;
  border-radius: 100%;
}

.container__infographics .infographic__text__container {
  min-width: 200px;
  margin-left: 20px;
}

.container__left-align {
  text-align: left;
  width: 40%;
  margin-left: 10%;
  margin-top: 100px;
}

@media (max-width: 800px) {
  .container__left-align {
    width: 100%;
    margin-left: unset;
    margin-top: unset;
  }
}

.background--tint {
  height: inherit;
  padding-top: 140px;
  padding-bottom: 140px;
  background: rgba(0, 0, 0, 0.75);
}

.container__relax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
}

.container__relax .section__left-column {
  width: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #ddd;
}

@media (max-width: 800px) {
  .container__relax .section__left-column {
    display: none;
  }
}

.container__relax .section__right-column {
  width: 70%;
  background: no-repeat;
  background-size: cover;
  text-align: left;
}

.container__relax .section__right-column__item {
  padding-left: 3em;
  width: 70%;
}

@media (max-width: 800px) {
  .container__relax .section__right-column {
    width: 100%;
  }
  .container__relax .section__right-column__item {
    padding-left: unset;
  }
  .container__relax .section__right-column .background--tint {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.latest-project {
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../img/projects-bg.png);
}

.latest-project h4 {
  margin-bottom: 0;
}

.latest-project p {
  margin-top: 0;
}

@media (max-width: 800px) {
  .latest-project {
    background: none;
  }
}

ul.list__tick {
  list-style-image: url(../img/list-check.png);
  margin-bottom: 50px;
}

ul.list__tick li {
  color: #999;
  margin-bottom: 10px;
}

.font--accent {
  color: #5fc05f;
}

.button__submit {
  width: 300px;
  padding: 20px 0;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
  cursor: pointer;
}

.button__submit--green {
  color: #fff;
  background-color: #5fc05f;
}

.button__submit--green:hover {
  text-decoration: underline;
  width: 350px;
}

.button__submit--white {
  border: 4px #fff solid;
  color: #fff;
  font-size: 1.2em;
  background-color: #5fc05f;
  border-radius: 10px;
}

.button__submit--white:hover {
  text-decoration: underline;
  width: 350px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding: 70px 100px !important;
}

@media (max-width: 800px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container h4 {
    text-align: center;
  }
}

.footer__container .footer__column {
  max-width: 30%;
}

@media (max-width: 800px) {
  .footer__container .footer__column {
    max-width: 100%;
  }
}

.footer__container .footer__column .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.footer__container .footer__column .list__item .footer__icon {
  width: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__container .footer__column .list__item .footer__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__container .footer__column .list__item .footer__text .tweet__post__accent {
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.footer__container .footer__column .list__item .footer__text .tweet__publication__time {
  color: #fff;
  margin-bottom: 0;
}

footer {
  margin: 20px 0;
}

footer .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  footer .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer p {
  position: absolute;
  left: 10%;
}

@media (max-width: 800px) {
  footer p {
    position: unset;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

footer .footer__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer .footer__icon-wrapper .footer__icon-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000;
  margin: 0 5px;
}

#culture-values {
  background-color: #ddd;
}

#contact {
  background-color: #5fc05f;
}

#latest {
  background-color: #111;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */