*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body,
button {
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

p {
  color: #999;
}

.text--secondary-color {
  color: #fff;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  min-height: 50px;
  margin: 20px;
}

nav .navbar__container__logo .navbar__logo-icon {
  background-color: #008c00;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

header {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  text-align: center;
  padding: 70px 100px;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__container .--reversed {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-flow: row-reverse wrap !important;
          flex-flow: row-reverse wrap !important;
}

.section__container .client__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 20px 0;
}

.section__container .client__comment .circle {
  height: 150px;
  width: 150px;
  background-color: #eee;
  border-radius: 100%;
}

.section__container .client__comment .quote {
  background-color: #eee;
  padding: 10px;
  margin: 30px;
  min-width: 500px;
}

.section__container .client__comment .quote .quote__text {
  color: #666;
}

.section__container .client__comment .quote .quote__author {
  color: #5fc05f;
  font-size: .9em;
}

.container__infographics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 100px;
}

.container__infographics--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 20px 0;
  padding: 0;
}

.container__infographics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.container__infographics__item--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.container__infographics div .icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 80px;
  height: 80px;
}

.container__infographics .icon--circle-border {
  border: 3px solid #666;
  border-radius: 100%;
}

.container__infographics .infographic__text__container {
  min-width: 200px;
  margin-left: 20px;
}

.container__left-align {
  text-align: left;
  width: 40%;
  margin-left: 10%;
  margin-top: 100px;
}

.background--tint {
  height: inherit;
  padding-top: 140px;
  padding-bottom: 140px;
  background: rgba(0, 0, 0, 0.75);
}

.container__relax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0;
}

.container__relax .section__left-column {
  width: 30%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #ddd;
}

.container__relax .section__right-column {
  width: 70%;
  background: no-repeat;
  background-size: cover;
  text-align: left;
}

.container__relax .section__right-column__item {
  padding-left: 3em;
  width: 70%;
}

.latest-project {
  background-repeat: no-repeat;
  background-position: right;
}

.latest-project h4 {
  margin-bottom: 0;
}

.latest-project p {
  margin-top: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.list__tick {
  list-style-image: url(../img/list-check.png);
  margin-bottom: 50px;
}

ul.list__tick li {
  color: #999;
  margin-bottom: 10px;
}

.font--accent {
  color: #5fc05f;
}

.button__submit {
  width: 300px;
  padding: 20px 0;
  text-transform: uppercase;
  border-radius: 50px;
}

.button__submit--green {
  color: #fff;
  background-color: #5fc05f;
}

.button__submit--white {
  border: 4px #fff solid;
  color: #fff;
  font-size: 1.2em;
  background-color: #5fc05f;
  border-radius: 10px;
}

#culture-values {
  background-color: #ddd;
}

#contact {
  background-color: #5fc05f;
}

#latest {
  background-color: #111;
}

.container__latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin: 0 50px;
}

.container__latest__item {
  max-width: 30%;
}
/*# sourceMappingURL=style.css.map */